# Configuration file for ImageJ plugin "Fast Morphology"
#
# comments starts with #
# Each entry is menuname, "Command text", classname

Plugins>Fast Morphology, "Morphological Filters", ijt.filter.morphology.MorphologicalFilterPlugin("run")
Plugins>Fast Morphology, "Morphological Filters 3D", ijt.filter.morphology.MorphologicalFilter3DPlugin("run")
Plugins>Fast Morphology, "Chamfer Distance Map", ijt.binary.distmap.ChamferDistanceMapPlugin
Plugins>Fast Morphology, "-"
Plugins>Fast Morphology, "Geodesic Reconstruction", ijt.filter.morphology.GeodesicReconstructionPlugin
Plugins>Fast Morphology, "Regional Min & Max", ijt.filter.morphology.RegionalMinAndMaxPlugin
Plugins>Fast Morphology, "Extended Min & Max", ijt.filter.morphology.ExtendedMinAndMaxPlugin
Plugins>Fast Morphology, "Impose Min & Max", ijt.filter.morphology.ImposeMinAndMaxPlugin
Plugins>Fast Morphology, "Kill Borders", ijt.filter.morphology.KillBordersPlugin
Plugins>Fast Morphology, "Fill Holes (Binary/Gray)", ijt.filter.morphology.FillHolesPlugin
Plugins>Fast Morphology, "-"
Plugins>Fast Morphology, "Geodesic Reconstruction 3D", ijt.filter.morphology.GeodesicReconstruction3DPlugin
Plugins>Fast Morphology, "Regional Min & Max 3D", ijt.filter.morphology.RegionalMinAndMax3DPlugin
Plugins>Fast Morphology, "Extended Min & Max 3D", ijt.filter.morphology.ExtendedMinAndMax3DPlugin
Plugins>Fast Morphology, "Impose Min & Max 3D", ijt.filter.morphology.ImposeMinAndMax3DPlugin
Plugins>Fast Morphology, "-"
Plugins>Fast Morphology, "Extend Image Borders", ijt.filter.border.ExtendBordersPlugin
Plugins>Fast Morphology, "Binary Overlay", ijt.binary.BinaryOverlayPlugin
Plugins>Fast Morphology>Label Images, "Components Labeling", ijt.filter.morphology.LabelingPlugin
Plugins>Fast Morphology>Label Images, "Set Label Map", ijt.filter.morphology.SetLabelMapPlugin
Plugins>Fast Morphology>Label Images, "Labels To RGB", ijt.filter.morphology.LabelToRgbPlugin

Help>About Plugins, "Morphological Filters...", ijt.filter.morphology.MorphologicalFilterPlugin("about")
